@import "layout.css";
@import "colors.css";

body{
    text-align: center;
}
main{
    border-width: 0 3px 0 3px;
    border-style: solid dashed;
    margin: 0 auto;
    width: 1000px;
    line-height:1.5;
}
p{
    padding: 4px;
}

div div p{
    margin: 0px;
}